<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <center>
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
        <div style=" width: 100%; height: 70px; padding-right: 10px; background-color: rgb(209, 227, 251);" class="container-fluid ">
         
          <div style="padding-left: 30px;" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" style="color: rgb(53, 61, 70);"><h3>Home</h3></a>
              </li>
             
<!--name of countries-->
              <li style=" padding-top: 7px" class="nav-item dropdown">
                <a style="padding-left: 20px; color:  rgb(53, 61, 70);"class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <b>Choose Country</b>
                </a>
                <ul style="overflow-y: scroll; height: 250px;" class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Afghanistan</a></li>
                  <li><a class="dropdown-item" href="#">Algeria</a></li>
                  <li><a class="dropdown-item" href="#">Argentina</a></li>
                  <li><a class="dropdown-item" href="public/australia.html">Australia</a></li>
                  <li><a class="dropdown-item" href="#">Austria</a></li>
                  <li><a class="dropdown-item" href="#">Bangladesh</a></li>
                  <li><a class="dropdown-item" href="#">Belgium</a></li>
                  <li><a class="dropdown-item" href="public/bhutan.html">Bhutan</a></li>
                  <li><a class="dropdown-item" href="#">Brazil</a></li>
                  <li><a class="dropdown-item" href="#">Bulgaria</a></li>
                  <li><a class="dropdown-item" href="#">Cambodia</a></li>
                  <li><a class="dropdown-item" href="#">Canada</a></li>
                  <li><a class="dropdown-item" href="#">Chile</a></li>
                  <li><a class="dropdown-item" href="#">China</a></li>
                  <li><a class="dropdown-item" href="#">Colombia</a></li>
                  <li><a class="dropdown-item" href="#">Denmark</a></li>
                  <li><a class="dropdown-item" href="#">Domonican republic</a></li>
                  <li><a class="dropdown-item" href="#">Egypt</a></li>
                  <li><a class="dropdown-item" href="#">Finland</a></li>
                  <li><a class="dropdown-item" href="#">France</a></li>
                  <li><a class="dropdown-item" href="#">Georgia</a></li>
                  <li><a class="dropdown-item" href="#">Germany</a></li>
                  <li><a class="dropdown-item" href="#">Greece</a></li>
                  <li><a class="dropdown-item" href="#">Hungary</a></li>
                  <li><a class="dropdown-item" href="#">India</a></li>
                  <li><a class="dropdown-item" href="#">Indonesia</a></li>
                  <li><a class="dropdown-item" href="#">Iran</a></li>
                  <li><a class="dropdown-item" href="#">Iraq</a></li>
                  <li><a class="dropdown-item" href="#">Israel</a></li>
                  <li><a class="dropdown-item" href="#">Italy</a></li>
                  <li><a class="dropdown-item" href="#">Jamaica</a></li>
                  <li><a class="dropdown-item" href="#">Japan</a></li>
                  <li><a class="dropdown-item" href="#">Kenya</a></li>
                  <li><a class="dropdown-item" href="#">Kuwait</a></li>
                  <li><a class="dropdown-item" href="#">Lebanon</a></li>
                  <li><a class="dropdown-item" href="#">Madagascar</a></li>
                  <li><a class="dropdown-item" href="#">Malaysia</a></li>
                  <li><a class="dropdown-item" href="#">Maldives</a></li>
                  <li><a class="dropdown-item" href="#">Mexico</a></li>
                  <li><a class="dropdown-item" href="#">Mongolia</a></li>
                  <li><a class="dropdown-item" href="#">Myanmar</a></li>
                  <li><a class="dropdown-item" href="#">Nepal</a></li>
                  <li><a class="dropdown-item" href="#">New Zealand</a></li>
                  <li><a class="dropdown-item" href="#">Nigeria</a></li>
                  <li><a class="dropdown-item" href="#">North Korea</a></li>
                  <li><a class="dropdown-item" href="#">Norway</a></li>
                  <li><a class="dropdown-item" href="#">Oman</a></li>
                  <li><a class="dropdown-item" href="#">Pakistan</a></li>
                  <li><a class="dropdown-item" href="#">Peru</a></li>
                  <li><a class="dropdown-item" href="#">Phillipines</a></li>
                  <li><a class="dropdown-item" href="#">Poland</a></li>
                  <li><a class="dropdown-item" href="#">Portugal</a></li>
                  <li><a class="dropdown-item" href="#">Qatar</a></li>
                  <li><a class="dropdown-item" href="#">Russia</a></li>
                  <li><a class="dropdown-item" href="#">Saudi Arabia</a></li>
                  <li><a class="dropdown-item" href="#">Serbia</a></li>
                  <li><a class="dropdown-item" href="#">Singapore</a></li>
                  <li><a class="dropdown-item" href="#">South Africa</a></li>
                  <li><a class="dropdown-item" href="#">South Korea</a></li>
                  <li><a class="dropdown-item" href="#">Sweden</a></li>
                  <li><a class="dropdown-item" href="#">Switzerland</a></li>
                  <li><a class="dropdown-item" href="#">Thailand</a></li>
                  <li><a class="dropdown-item" href="#">Turkey</a></li>
                  <li><a class="dropdown-item" href="#">Ukraine</a></li>
                  <li><a class="dropdown-item" href="#">UAE</a></li>
                  <li><a class="dropdown-item" href="#">United Kingdom</a></li>
                  <li><a class="dropdown-item" href="#">USA</a></li>
                  <li><a class="dropdown-item" href="#">Venezuela</a></li>
                  <li><a class="dropdown-item" href="#">Veitnam</a></li>
                  <li><a class="dropdown-item" href="#">Zimbabwe</a></li>
                  </ul>
              </li>
              <li style="padding-left: 20px; margin-top: 18px; margin-right: 250px;"class="nav-item">
                <a style="text-decoration: none;  color:  rgb(53, 61, 70);" href="/about"><h6>About Us</h6></a>
              </li>
              <li style="padding-left: 20px; margin-top: 13px; "class="nav-item">
                <a style="text-decoration: none;  color:  #fff; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" href="#"><h3>WHO's COOKI'N</h3></a>
              </li>
            </ul>
            <form action="/search" method="post" class="d-flex" role="search">
              <input id="search" name="search" value="sprouts" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button  style="padding-right:  50xpx;color:  rgb(53, 61, 70);" class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
<!--login image--> 
       <button type="button" style="color:  rgb(53, 61, 70); float:right; width: 60px; height: 50px; border-radius: 5px;margin-left: 20px; border: 1px white solid; background-color:  rgb(132, 183, 240);"  data-bs-toggle="modal" data-bs-target="#exampleModal">
    Your Profile</button>
</nav>
<div style="width: 100%; height: 80px; background: transparent;"></div>
</center>
</body>
</html> 